{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">

  <title>CodePen - Todo List UI with VueJs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="stylesheet" href="{% static 'TD/style.css'%}">

</head>
<body>
<!-- partial:index.partial.html -->
<main id="todolist">
  <h1>
    Todo List
    <span>Get things done, one item at a time.</span>
  </h1>

  <ul>
    {% for todo in todo_list %}
      {% if todo.complete %}
    <li class="done">
        <span class="label">{{ todo.text }}</span>
        <div class="actions">
<!--          <a href="#">-->
<!--          <button class="btn-picto" type="button">-->
<!--            1-->
<!--            <i aria-hidden="true" class="material-icons">1</i>-->
<!--          </button>-->
<!--          </a>-->
          <a href="{% url 'delete' todo.id %}">
            <button class="btn-picto" type="button" aria-label="Delete" title="Delete">
              <i aria-hidden="true" class="material-icons">delete</i>
            </button>
           </a>
        </div>
      </li>
      {% else %}
      <li>
          <a href="{% url 'complete' todo.id %}" class="tdl_linck">
            <span class="label">{{ todo.text }}</span>
          </a>
          <div class="actions">

<!--            <button class="btn-picto" type="button">-->
<!--              1-->
<!--              <i aria-hidden="true" class="material-icons">1</i>-->
<!--            </button>-->


            <a href="{% url 'delete' todo.id %}">
            <button class="btn-picto" type="button" aria-label="Delete" title="Delete">
              <i aria-hidden="true" class="material-icons">delete</i>
            </button>
            </a>
          </div>
        </li>
      {% endif %}

    {% endfor %}
   </ul>
     {% if not todo_list %}
        <p class="emptylist">Your todo list is empty.</p>
      {% else %}
        <p class="emptylist"></p>
      {% endif %}
  <form name="newform" action="{% url 'add' %}" method="POST">
    {% csrf_token %}

    <label for="newitem">Add to the todo list</label>
    {{ form.text }}
    <button type="submit">Add item</button>

  </form>
</main>

</body>
</html>
